

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	width:100%;
}

/************traintable***********/
#t1{width:70%;position:static;float:right;margin-right:40px;}
#t2{width:70%;position:static;float:right;margin-top:200px;margin-right:175px;}
#t3{width:70%;position:static;float:right;margin-top:200px;margin-right:175px;}
#t4{width:70%;position:static;float:right;margin-top:200px;margin-right:175px;}
#t5{width:70%;position:static;float:right;margin-top:200px;margin-right:175px;}



#tablemainwrapper{background-color:#333333;
	width: 100%;
	height:5000px;
	z-index:100;
}
#tablecontent-wrapper{background-color:#333333;
	width: 100%;
	height:150px;
	z-index:100;}

#about{   font-size:1.3em;
		   font-family: 'Lato', sans-serif;
		   color:white;
		   text-decoration:none;
		   line-height:2em 
	   }
#workdes{padding-left:20px;padding-top:30px;width:300px;}
#content{font-size:1em;
		   font-family: 'Lato',serif;
		   color:white;
		   text-decoration:none;
		   line-height:1.3em }
		   
		   
		   
/************Unity***********/			   
		   
   
		   #u1{width:80%;position:static;float:right;margin-right:40px;}
		   #u2{width:30%;position:static;float:right;margin-top:200px;margin-right:450px;}
		   #u3{width:30%;position:static;float:right;margin-top:200px;margin-right:450px;}
		   #u4{width:30%;position:static;float:right;margin-top:200px;margin-right:450px;}
#uabout{          font-size:1.3em;
		   		   font-family: 'Lato', sans-serif;
		   		   color:white;
		   		   text-decoration:none;
		   		   line-height:2em 
		   	   }
#uworkdes{padding-left:20px;padding-top:30px;width:300px;}
#ucontent{font-size:1em;
		   		   font-family: 'Lato',serif;
		   		   color:white;
		   		   text-decoration:none;
		   		   line-height:1.3em }
				   
				   
/************Book***********/				   

				   #b1{width:60%;position:static;float:right;margin-right:40px;}
				   #b2{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
				   #b3{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
				   #b4{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
				   #b5{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
				   #b6{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
				   #b7{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
		   
		#babout{          font-size:1.3em;
				   		   font-family: 'Lato', sans-serif;
				   		   color:white;
				   		   text-decoration:none;
				   		   line-height:2em 
				   	   }
		#bworkdes{padding-left:20px;padding-top:30px;width:300px;}
		#bcontent{font-size:1em;
				   		   font-family: 'Lato',serif;
				   		   color:white;
				   		   text-decoration:none;
				   		   line-height:1.3em }
		#bablemainwrapper{background-color:#333333;
						   	width: 100%;
						   	height:6000px;
						   	z-index:100;
						   }
		#bablecontent-wrapper{background-color:#333333;
						   	width: 100%;
						   	height:150px;
						   	z-index:100;}


/************Lemon***********/
		 			#l1{width:75%;position:static;float:right;margin-right:70px;}
		 			#l2{width:75%;position:static;float:right;margin-top:200px;margin-right:120px;}
		 			
		   
		 		#labout{          font-size:1.3em;
		 				   		   font-family: 'Lato', sans-serif;
		 				   		   color:white;
		 				   		   text-decoration:none;
		 				   		   line-height:2em 
		 				   	   }
		 		#lworkdes{padding-left:20px;padding-top:30px;width:300px;}
		 		#lcontent{font-size:1em;
		 				   		   font-family: 'Lato',serif;
		 				   		   color:white;
		 				   		   text-decoration:none;
		 				   		   line-height:1.3em }
		 		#ltablemainwrapper{background-color:#333333;
		 						   	width: 100%;
		 						   	height:2000px;
		 						   	z-index:100;
		 						   }
		 		#ltablecontent-wrapper{background-color:#333333;
		 						   	width: 100%;
		 						   	height:150px;
		 						   	z-index:100;}

/************beauty***********/
			#be1{width:75%;position:static;float:right;margin-right:60px;}

		 			
		   
						 		#beabout{          font-size:1.3em;
						 				   		   font-family: 'Lato', sans-serif;
						 				   		   color:white;
						 				   		   text-decoration:none;
						 				   		   line-height:2em 
						 				   	   }
						 		#beworkdes{padding-left:20px;padding-top:30px;width:280px;}
						 		#becontent{font-size:1em;
						 				   		   font-family: 'Lato',serif;
						 				   		   color:white;
						 				   		   text-decoration:none;
						 				   		   line-height:1.3em }
						 		#betablemainwrapper{background-color:#333333;
						 						   	width: 100%;
						 						   	height:1200px;
						 						   	z-index:100;
						 						   }
						 		#betablecontent-wrapper{background-color:#333333;
						 						   	width: 100%;
						 						   	height:150px;
						 						   	z-index:100;}
/************heriarchy***********/

					#h1{width:60%;position:static;float:right;margin-right:60px;}
				    #h2{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
					#h3{width:60%;position:static;float:right;margin-top:200px;margin-right:260px;}
					
	#habout{          font-size:1.3em;
								 				   		   font-family: 'Lato', sans-serif;
								 				   		   color:white;
								 				   		   text-decoration:none;
								 				   		   line-height:2em 
								 				   	   }
	#hworkdes{padding-left:20px;padding-top:30px;width:300px;}
	#hcontent{font-size:1em;
								 				   		   font-family: 'Lato',serif;
								 				   		   color:white;
								 				   		   text-decoration:none;
								 				   		   line-height:1.3em }
	#htablemainwrapper{background-color:#333333;
								 						   	width: 100%;
								 						   	height:2050px;
								 						   	z-index:100;
								 						   }
	#htablecontent-wrapper{background-color:#333333;
								 						   	width: 100%;
								 						   	height:150px;
								 						   	z-index:100;}
															
															
															
															
																				




/************contact page***********/

#contacttablemainwrapper{background-color:#333333;
								 						   	width: 100%;
								 						   	height:700px;
								 						   	z-index:100;
								 						   }



#contactworkdes{padding-left:200px;padding-top:100px;width:300px;}

#contacth{color:yellow;font-family: 'Lato',serif; padding-bottom:10px;}

#contactp{ font-family: 'Lato',serif;
								 				   		   color:white;
								 				   		  
								 				   		   line-height:1.3em }}








#site-wrapper{height:50px; z-index:1;width:100%;}
#site-header{
	position: fixed;
	top: 0px;
	background-color: #D5D7D7;
	width: 100%;
	height: 50px;
	z-index:100;
}


#content-wrapper{
	background-color:#333333;
	width: 100%;
	height:1030px;
	z-index:1;
}

#main-menu li  a{        
			  font-family:sans-serif;
		  	  font-weight:bold;
			  color:black;
		  	  font-size:16px;
		      text-decoration:none;
		      float:right;
		      margin-right:300px;
			  padding:35px 30px;
			  margin:0 auto;
		  }
#mainwrapper .box img {
	max-width:100%;
}			  
			  
#logo{width:10px;position:absolute}



#pic a {font-family:sans-serif;
			  color:white;
		  	  font-size:16px;
		      text-decoration:none;
			}
#main-menu{position: fixed;
	width:100%;
	}

#work {padding:400px 200px 20px 250px;
		margin:0px;
		width:100%;}
		
		
#mainwrapper {  
		  font: 10pt normal Arial, sans-serif;  
		  height: auto;  
		  margin: 80px auto 0 auto;  
		  text-align: center;  
		  width: 660px; 
	  	   }  
		
		
		#mainwrapper .box {  
		    border: 5px solid #fff;  
		    cursor: pointer;  
		    height: 200px;  
		    float: left;  
		    margin: 5px;  
		    position: relative;  
		    overflow: hidden;  
		    width: 200px;  
		    -webkit-box-shadow: 1px 1px 1px 1px #ccc;  
		    -moz-box-shadow: 1px 1px 1px 1px #ccc;  
		    box-shadow: 1px 1px 1px 1px #ccc;  
		}  
  
		#mainwrapper .box img {  
		    position: absolute;  
		    left: 0;  
		    -webkit-transition: all 300ms ease-out;  
		    -moz-transition: all 300ms ease-out;  
		    -o-transition: all 300ms ease-out;  
		    -ms-transition: all 300ms ease-out;  
		    transition: all 300ms ease-out;  
		} 
		
		
		#mainwrapper .box .caption {  
		    background-color: rgba(0,0,0,0.8);  
		    position: absolute;  
		    color: #fff;  
		    z-index: 100;  
		    -webkit-transition: all 300ms ease-out;  
		    -moz-transition: all 300ms ease-out;  
		    -o-transition: all 300ms ease-out;  
		    -ms-transition: all 300ms ease-out;  
		    transition: all 300ms ease-out;  
		    left: 0;  
		}  
		
		#mainwrapper .box .simple-caption {  
		    height: 30px;  
		    width: 200px;  
		    display: block;  
		    bottom: -30px;  
		    line-height: 25pt;  
		    text-align: center;  
		}  
		#mainwrapper .box .full-caption {  
		    width: 170px;  
		    height: 170px;  
		    top: -200px;  
		    text-align: left;  
		    padding: 15px;  
		}  
		#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {  
		    opacity: 0;  
		    width: 170px;  
		    height: 170px;  
		    text-align: left;  
		    padding: 15px;  
		}  
		/** Caption 4: Slide **/  
		#mainwrapper .box .slide-caption {  
		    width: 170px;  
		    height: 170px;  
		    text-align: left;  
		    padding: 15px;  
		    left: 200px;  
		}  
		#mainwrapper #box-5.box .rotate-caption {  
		    width: 170px;  
		    height: 170px;  
		    text-align: left;  
		    padding: 15px;  
		    top: 200px;  
		    -moz-transform: rotate(-180deg);  
		    -o-transform: rotate(-180deg);  
		    -webkit-transform: rotate(-180deg);  
		    transform: rotate(-180deg);  
		}  
  
		#mainwrapper .box .rotate {  
		    width: 200px;  
		    height: 400px;  
		    -webkit-transition: all 300ms ease-out;  
		    -moz-transition: all 300ms ease-out;  
		    -o-transition: all 300ms ease-out;  
		    -ms-transition: all 300ms ease-out;  
		    transition: all 300ms ease-out;  
		}  
		
		#mainwrapper .box .scale-caption h3 {  
		    position: relative;  
		    left: -200px;  
		    width: 170px;  
		    -webkit-transition: all 300ms ease-out;  
		    -moz-transition: all 300ms ease-out;  
		    -o-transition: all 300ms ease-out;  
		    -ms-transition: all 300ms ease-out;  
		    transition: all 300ms ease-out;  
		}  

		#mainwrapper .box:hover .fade-caption {  
		    opacity: 1;  
		}  
		#mainwrapper .box:hover .slide-caption {  
		  background-color: rgba(0,0,0,1) !important;  
		  -moz-transform: translateX(-100%);  
		  -o-transform: translateX(-100%);  
		  -webkit-transform: translateX(-100%);  
		  opacity: 1;  
		  transform: translateX(-100%);  
		}  
		#mainwrapper .box:hover img#image-4 {  
		  -moz-transform: translateX(-100%);  
		  -o-transform: translateX(-100%);  
		  -webkit-transform: translateX(-100%);  
		  transform: translateX(-100%);  
		}  
		/** Rotate Caption :hover Behaviour **/  
		    #mainwrapper .box:hover .rotate {  
		    background-color: rgba(0,0,0,1) !important;  
		    -moz-transform: rotate(-180deg);  
		    -o-transform: rotate(-180deg);  
		    -webkit-transform: rotate(-180deg);  
		    transform: rotate(-180deg);  
		}  
		#mainwrapper .box:hover #image-6 {  
		   -moz-transform: scale(1.4);  
		   -o-transform: scale(1.4);  
		   -webkit-transform: scale(1.4);  
		   transform: scale(1.4);  }
		
		#mainwrapper .box:hover .simple-caption {  
		    -moz-transform: translateY(-100%);  
		    -o-transform: translateY(-100%);  
		    -webkit-transform: translateY(-100%);  
		    transform: translateY(-100%);  
		} 

		#mainwrapper .box:hover .scale-caption h3,  
		#mainwrapper .box:hover .scale-caption p {  
		    -moz-transform: translateX(200px);  
		    -o-transform: translateX(200px);  
		    -webkit-transform: translateX(200px);  
		    transform: translateX(200px);  
		}  
		#mainwrapper .box:hover .full-caption {  
		    -moz-transform: translateY(100%);  
		    -o-transform: translateY(100%);  
		    -webkit-transform: translateY(100%);  
		    transform: translateY(100%);  
			
			
		} 	
		p  {font-size:1em;
		   font-family:serif;
		   color:black;
		   text-decoration:none;
		   line-height:1.1em;
			}
		h1	{font-size:1.3em;
		   font-family: 'Lato', sans-serif;
		   color:rgb(32,79,158);
		   text-decoration:none;
		   line-height:2em 
		   
	   		}
   		h2 {font-size:1em;
   		   font-family: 'Lato', sans-serif;
		   text-weight:700;
   		   color:black;
   		   text-decoration:none;
   		   line-height:1.8em;
	   		}
		#education{margin-top:50px;}
		article{display:inline-block;margin-left:200px;margin-top:30px;width:800px;}
		
		
		h3{text-decoration:none; color:white;}
		
		ul li a{font-size:1em;
		   font-family: 'Lato', sans-serif;
		   color:rgb(32,79,158);
		   text-decoration:none;}
		
		
		.rslides {
		  position: relative;
		  list-style: none;
		  overflow: hidden;
		  width: 100%;
		  height:25%;
		  padding: 0;
		  margin-top:50px;;
		  }

		.rslides li {
		  -webkit-backface-visibility: hidden;
		  position: absolute;
		  display: none;
		  width: 100%;
		  left: 0;
		  top: 0;
		  }

		.rslides li:first-child {
		  position: relative;
		  display: block;
		  float: left;
		  }

		.rslides img {
		  display: block;
		  height: auto;
		  float: left;
		  width: 100%;
		  border: 0;
		  }
		  $(".rslides").responsiveSlides({
		    auto: true,             // Boolean: Animate automatically, true or false
		    speed: 500,            // Integer: Speed of the transition, in milliseconds
		    timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
		    pager: false,           // Boolean: Show pager, true or false
		    nav: false,             // Boolean: Show navigation, true or false
		    random: false,          // Boolean: Randomize the order of the slides, true or false
		    pause: false,           // Boolean: Pause on hover, true or false
		    pauseControls: true,    // Boolean: Pause when hovering controls, true or false
		    prevText: "Previous",   // String: Text for the "previous" button
		    nextText: "Next",       // String: Text for the "next" button
		    maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
		    navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
		    manualControls: "",     // Selector: Declare custom pager navigation
		    namespace: "rslides",   // String: Change the default namespace used
		    before: function(){},   // Function: Before callback
		    after: function(){}     // Function: After callback
		  });
