

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
	width:100%;
}

#site-header{
	background-color:##FAFAD2;
	width:500px;
	margin:0 auto;
}
header{margin:40px 50px 20px 80px;}
header img{display:inline-block;}

#site-wrapper{
	background-color:#FAFAD2;
	
}

#menu-wrapper{
	background-color:#8B4513;
	height:50px;
}

#main-menu{margin-left:60px;}
li  a{        font-family:sans-serif;
		  	  font-weight:bold;
			  color:white;
		  	  font-size:16px;
		      text-decoration:none;
		      float:left;
		      margin-left:100px;
			  padding:18px 20px;
			  text-transform:uppercase;
			  margin:0 auto;


	     }
ul{margin-left:300px;}
#top-nav{
	position:absolute;
	top:2px;
	left:1000px;
	font-color:#8B4513;
	font-size:10px;
	text-decoration:none;
		 }

#page{
	float:left;
	width:440px;
	margin-left:370px;
	margin-right:80px;
	margin-bottom:200px;
	
}


h1{font-weight:bold;
   font-size:30px;
   color:#8B4513;
   text-transform:uppercase;
   padding:60px 0px 5px 2px;
}

h2{font-weight:bold;
   font-size:17px;
   color:#8B4513;
   text-transform:uppercase;
   padding:10px 0px 10px 0px;
	
}
P{font-size:13px;
  line-height:16px;}
  
#sidebar{
	 font-size:13px;
	 color:#8B4513;
	 margin-top:50px;
	 margin-left:30px;
	 margin-bottom:50px;
}
.bar{font-size:13px;
	 color:#8B4513;
     margin-right:100px;}

#footer-wrapper{
	background-color:#8B4513;
	height:150px;
}

#footer-contact
{
	float:left;
	margin:100px 300px 2px 370px;
	width:150px;
	
}
#footer-follow{
	float:left;
	margin:100px 40px 2px 10px;
	width:100px;
	
}
h3 {font-size:17px;
	 color:#FAFAD2;
	 padding-top:50px;
	 padding-bottom:10px;
	 font-weight:bold;
	 
 }