
<style>
  li {
	  list-style:none;
	      float:left;
	      margin:30px;
	      padding:30x 50px;
	      text-transform:uppercase;
     }

  img{
	  float:left;
	  margin:30px;
	  padding:40px;
     }
dog{
	  float:left;
	
      margin:30px;
     }
cat{
	 	  float:left;
	       margin:30px;
	      }
</style>





